#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Urbanist', sans-serif;

}

#gameScreen{
    width: 500px;
    height: 350px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* COLOR SELECTION STYLING */
.colorSelect{
    width: 50px;
    height: 50px;
    margin:10px;
    border: 3px black solid;
    padding: 2px;
}

#colors{
    display: flex;
    flex-direction: row;
}

#colors.hidden{
    display: none;
}
.colorSelect#cadetblue{
    background-color: cadetblue;
}
.colorSelect#firebrick{
    background-color: firebrick;
}
.colorSelect#lightgreen{
    background-color: lightgreen;
}
.colorSelect#gold{
    background-color: gold;
}

.colorSelect:hover{
    cursor: pointer;
    border-color: white;
}

.hidden{
    display: none;
}

/* MANUAL PAGE STYLING */

/* #pageContainer{
    display: flex;
    justify-content: center;
} */
#manualContainer {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-left: 100px;
    font-family: 'Urbanist', sans-serif;
    border: 2px blue solid
}


#navbar {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color:white;
    font-family: 'Urbanist', sans-serif;
}

li {
    padding:30px;
    font-size: 18px;
}


