#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Urbanist', sans-serif;

}

#gameScreen{
    width: 500px;
    height: 350px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* COLOR SELECTION STYLING */
.colorSelect{
    width: 50px;
    height: 50px;
    margin:10px;
    border: 3px black solid;
    padding: 2px;
}

#colors{
    display: flex;
    flex-direction: row;
}

#colors.hidden{
    display: none;
}
.colorSelect#cadetblue{
    background-color: cadetblue;
}
.colorSelect#firebrick{
    background-color: firebrick;
}
.colorSelect#lightgreen{
    background-color: lightgreen;
}
.colorSelect#gold{
    background-color: gold;
}

.colorSelect:hover{
    cursor: pointer;
    border-color: white;
}

.hidden{
    display: none;
}

/* MANUAL PAGE STYLING */
body .dark{
    background-color: black;
    color: whitesmoke;
}

#manualContainer {
    align-items: center;
    margin-left: 350px;
    font-family: 'Urbanist', sans-serif;
}


#nav {
    height: 100vh;
    width: 25%;
    top: 0;
    left: 0;
    position: fixed;
    flex-direction: column;
    font-family: 'Urbanist', sans-serif;
    background-color: rgba(0, 0, 0, 0.445);
    align-items: center;
}

#nav li {
    padding:20px 0;
    font-size: 18px;
    
}

#nav li a {
    text-decoration: none;
    color: black;
}

#nav li a:hover {
    font-size: 20px;
}

#navhead {
    padding-top: 10px;
}

h2 {
    text-decoration: underline;
    padding-top: 40px;
}

h1 {
    text-decoration: underline;
}


